.product {
    padding: 50px 0;
    color: var(--color-white);
    background: var(--color-black);
    background-size: cover;
    background-position: center;

    &.full {
        padding-top: 100px;

        @include mobile {
            padding-top: 50px;
        }
    }

    & .center {
        margin-bottom: 20px;

        @include tablet {
            margin-bottom: 20px;
        }
    }

    &__img {
        object-fit: contain;
        margin: 0 auto;

        @include tablet {
            max-height: 370px;
        }
    }

    & .row {
        max-height: 700px;
        gap: 20px;

        @include tablet {
            flex-direction: column;
            max-height: none;
        }

        &.reverce {
            flex-direction: row-reverse;

            @include tablet {
                flex-direction: column;
            }
        }
    }

    &__desc {
        max-width: 425px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        &.top {
            gap: 0;

            @include tablet {
                align-items: flex-start;
                max-width: none;
                text-align: left;
            }

            @include phone {
                align-items: center;
                text-align: center;
            }

            & .subtitle {
                text-align: left;
                font-size: 20px;
                text-transform: uppercase;
            }

            & h1 {
                margin-block: 6px 20px;
                line-height: 1.4;
                text-transform: uppercase;

                @include tablet {
                    margin-block: 10px;
                }

                & span {
                    color: var(--color-accent);
                }
            }

            & .button {
                margin: 100px 0 30px;

                @include tablet {
                    order: 1;
                    margin: 24px 0 0 0;
                }
            }

            & .rating {
                @include tablet {
                    margin-top: 48px;
                }
            }

            & .rating__star {
                & .stars {
                    background: url(../images/icons/star-accent.svg) repeat-x left;
                }
            }
        }

        @include tablet {
            align-items: center;
            text-align: center;
        }

        & img {
            max-width: 50px;
        }

        & h2 {
            line-height: 1;
        }
    }

    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;


        @include tablet {
            margin-top: 35px;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 25px;
        }

        & li {
            font-weight: 400;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            & img {
                width: 100%;
                height: 280px;
                border-radius: 20px;
                object-fit: cover;

                @include phone {
                    height: 260px;
                }
            }
        }
    }
}

.designed {
    padding: 80px 0;
    color: var(--color-white);
    background: var(--color-black);

    @include mobile {
        padding: 40px 0;
    }

    & h2 {
        @include fluid-text(28, 32);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(1.25rem, -7.739rem + 14.04vw, 4.375rem);

        @include tablet {
            grid-template-columns: 1fr;
            max-width: 560px;
            margin: 0 auto;
        }

        & li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            & h3 {
                line-height: 1;
            }
        }
    }
}

.features {
    padding: 60px 0;
    background: #F4F3ED;

    @include mobile {
        padding: 30px 0;
    }

    & .product__list {
        margin: 0;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            gap: 15px;
            grid-template-columns: 1fr;
        }

        & li {
            align-items: flex-start;
            justify-content: space-between;
            padding: 35px 20px;
            border-radius: 20px;
            height: 320px;
            background: #E6E6E6;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;

            &:nth-child(odd) {
                color: var(--color-white);
                background-color: var(--color-black);
            }

            & h4 {
                @include fluid-text(32, 26);
                font-weight: 500;
                line-height: 1;
                text-transform: capitalize;
            }

            & img {
                height: auto;
                border-radius: 0;
            }
        }
    }
}

.info {
    position: relative;
    color: var(--color-white);
    padding-block: clamp(6.25rem, -11.728rem + 28.09vw, 12.5rem);
    background: var(--color-dark) no-repeat top/ cover;
    z-index: 1;

    @include mobile {
        padding: 40px 0;
    }

    &::before {
        content: '';
        inset: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: var(--color-black);
        opacity: .8;
    }

    & .row {
        justify-content: flex-end;

        @include mobile {
            justify-content: center;
        }

        & h2 {
            max-width: 350px
        }

        & .product__desc {
            max-width: 535px;
        }
    }
}